@import "tailwindcss";

.hero-title {
    font-weight: 700;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    color: transparent;
    -webkit-text-stroke: 2px #4e4e4e;
    position: relative;
    background: none;
    transition: background 0.2s ease;
  }
  
  .hero-title:hover {
    background: radial-gradient(
      circle at var(--x, 50%) var(--y, 50%),
      #ff40ab 0%,
      transparent 40%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .input-glow:focus {
    box-shadow: 0 0 12px #ff3e9a, 0 0 24px #ff3e9a;
  }
  